
.video {
    .container {
        .video-wrapper {
            .video-title {
                font-family: Poppins;
                font-weight: 800;
                font-size: 70px;
                line-height: 50px;
                letter-spacing: 0%;
                text-align: center;
                color: #1C2323;
                margin-top: 50px;
                @media (max-width: 550px){
                    line-height: 70px;
                }

            }
            .video-title__text {
                font-family: Poppins;
                font-weight: 400;
                font-size: 30px;
                line-height: 45px;
                letter-spacing: 0%;
                text-align: center;
                color: #404242;
            }
            .video-top__wrapper {
                display: flex;
                padding-top: 70px;
                padding-bottom: 150px;
                opacity: 0; /* Скрываем блоки изначально */
                transform: translateY(50px); /* Сдвигаем вниз за пределы видимости */
                transition: opacity 0.5s ease, transform 0.5s ease; /* Плавное появление и движение */
                &.show {
                    opacity: 1; /* Показываем блок */
                    transform: translateY(0); /* Возвращаем на исходную позицию */
                }
                @media (max-width: 1024px){
                    flex-direction: column;
                }
                @media (max-width: 500px){
                    padding-top: 35px;
                    padding-bottom: 70px;
                }
                
                .video-top__left {
                    width: 65.7%;
                    height: 350px;
                    @media (max-width: 1024px){
                        width: 100%;
                    }
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px 0 0 10px;
                        @media (max-width: 1024px){
                            border-radius: 10px 10px 0 0;
                        }
                    }
                }
                .video-top__right {
                    background-color: #CCF0E6;
                    position: relative;
                    border-radius: 0 10px 10px 0;
                    width: 34.3%;
                    @media (max-width: 1024px){
                        width: 100%;
                        border-radius: 0 0 10px 10px;
                    }
                    @media (max-width: 1024px){
                        padding-bottom: 40px;
                    }
                    
                    .video-top__right__text {
                        font-family: Poppins;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 30px;
                        color: #486958;
                        padding: 70px 106px 41px 115px;

                        @media (max-width: 1600px){
                            padding: 40px 70px 20px 80px;
                        }
                        @media (max-width: 1200px){
                            padding: 20px 70px 20px 80px;
                        }
                        @media (max-width: 500px){
                            padding: 20px 20px;
                        }
                        
                    }
                    .video-play__button {
                        position: absolute;
                        left: -60px;
                        top: 180px;
                        @media (max-width: 1024px){
                            left: 50%;
                            transform: translate(-50%, 0);
                            top: -230px;
                        }
                        img {
                            transition: all .3s ease-in-out;
                            &:hover {
                                scale: 110%;
                            }
                        }
                    }
                    .video-top__right__button {
                        font-family: Poppins;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 0%;
                        color: #486958;
                        padding-left: 115px;
                        transition: all .3s ease-in-out;
                        &:hover {
                            color: #FEC62D;
                        }
                        @media (max-width: 1600px){
                            padding-left: 80px;;
                        }
                        @media (max-width: 500px){
                            padding-left: 20px;
                        }
                        
                    }
                }
            }
            .video-bottom__wrapper {
                display: flex;
                justify-content: space-between;
                @media (max-width: 1024px){
                    flex-direction: column;
                }
                .video-bottom__left {
                    width: 40%;
                    opacity: 0; /* Скрываем блоки изначально */
                    transform: translateX(-50px); /* Сдвигаем вниз за пределы видимости */
                    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавное появление и движение */
                    &.show {
                        opacity: 1; /* Показываем блок */
                        transform: translateX(0); /* Возвращаем на исходную позицию */
                    }
                    @media (max-width: 1200px){
                        width: 50%;
                    }
                    @media (max-width: 1024px){
                        width: 100%;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .video-bottom__right {
                    width: 50%;
                    @media (max-width: 1200px){
                        width: 45%;
                    }
                    @media (max-width: 1024px){
                        width: 100%;
                        padding-top: 30px;
                    }
                    .video-bottom__right__title {
                        font-family: Poppins;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 60px;
                        letter-spacing: 0%;
                        color: #1C2323;
                        width: 61%;
                        @media (max-width: 1200px){
                            width: 100%;
                        }
                        @media (max-width: 500px){
                            font-size: 35px;
                            line-height: 50px;
                        }
                    }
                    .video-bottom__right__text {
                        font-family: Poppins;
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 45px;
                        letter-spacing: 0%;
                        color: #8a8d8c;
                        width: 82%;
                        transition: color 0.5s ease;
                        span{
                            &.read {
                            color: #58A9A5; /* Колір "прочитаного" тексту */
                        }
                    }

                        

                        @media (max-width: 1024px){
                            width: 100%;
                        }

                        @media (max-width: 500px){
                            font-size: 27px;
                            line-height: 40px;
                        }
                        
                    }
                }
            }
        }
    }
}